
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #sidebar, #content {
    height: 100%;
    overflow:auto;
    float:left;
    transition: width .35s;
  }
  
  #sidebar {
    background:white;
    width: 30%;
  }
  #content {
    background:gray;
    width: 70%;
  }
 #map {
    height: 100%;
    width: 100%;
  }
  