html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #123456;
  overflow: hidden;
}
#container {
  display: flex;
  flex-direction: row;
  height: 100vh; 
  overflow: hidden; 
}

#map {
  height: 100%;
  width: 100%;
}

#markers-sidebar {
  padding-left: 40px;
  width: 20%;
}
#polygons-sidebar {
  padding-left: 40px;
  width: 15%;
  background-color: #1b5583;
}


.plazas__list .plaza__individualNames {
  font-size: 16px;
  font-weight: 200px;
  color: #fff;
  transition: all 0.4s ease;
}
.plazas__list .plaza__individualNames:hover {
  color: lightgreen;
}
.plaza__individualNames {
  display: none;
}

.plaza__individualNames.visible {
  display: block;
}
.plaza__individualNames.marked {
  color: darkgreen;
  font-weight: bold; 
}

#sidebar__title {
  padding-bottom: 20px;
  font-size: 18px;
  color: #fff;
  height: 50px;
}


#content {
  background: gray;
  width: 80%;
}
